%li.page-item{ :class => ('disabled' if current_page.first?) }
  - if current_page.first?
    .page-link.prev
      %span.sr-only= t('views.pagination.previous').html_safe
  - else
    = link_to url, rel: 'prev', remote: remote, class: %w(page-link prev) do
      %span.sr-only= t('views.pagination.previous').html_safe
