// Do Not Delete this page! FAE depends on it in order to set its highlight color.
// $c-custom-highlight: #9aa142;

.trumbowyg-editor.trumbowyg-reset-css {
  h2 {
    text-transform: none;
    border: none;
    letter-spacing: normal;
    font-size: 1.125rem !important;
  }

  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
}

p.lead {
  margin-bottom: 0;
}
